<!doctype html>
<html ng-app="swimmersApp">
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  
  
  <body ng-cloak>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li><a href="/NewSwimmer.html">Search Swimmer</a></li>
            <li><a href="/SwimmerDetails.html">Swimmer Details</a></li>
          </ul>
        </div>
      </div>
      <div ng-controller="SearchSwimmerController" style="padding-left:20px; padding-right:20px">
        <div class="container">
          <h1>New Swimmer</h1>
          <hr>
          <form name="newSwimmerForm">
            <fieldset>
              <label for="swimmerName">Name:</label>
              <input id="swimmerName" type="text" required ng-model="swimmer.name" placeholder="Name of your swimmer..." />
              <label for="swimmerDateOfBirth">Year of Birth:</label>
              <input id="swimmerDateOfBirth" type="text" required ng-pattern="\d\d\d\d" ng-model="swimmer.dateOfBirth" placeholder="format yyyy" />
              <!--
              <label for="swimmerImageUrl">Image:</label>
              <input id="swimmerImageUrl" type="url" ng-model="swimmer.imageUrl" class="input-xlarge" placeholder="url of image..." />
              -->
            </fieldset>
            
            <img ng-src="{{swimmer.imageUrl}}" />
            <br />
            <br />
            
            <button type="submit" ng-disabled="newSwimmerForm.$invalid" ng-click="searchSwimmer(swimmer, newSwimmerForm)" class="btn btn-primary">Save</button>
            <button type="button" ng-click="cancelSwimmer()" class="btn btn-default">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/SwimmerController.js"></script>
    <script src="/js/controllers/SearchSwimmerController.js"></script>
    <script src="/js/filters.js"></script>
  </body>
</html>