<div style="padding-left:20px; padding-right:20px">
    <div class="container">
        <h1>Sök simmare</h1>
        <hr>
        <form class="row-fluid well" name="newSwimmerForm">
            <fieldset class="span6">
                <label for="swimmerName">Förnamn:</label>
                <input id="swimmerName" type="text" ng-model="swimmer.firstName" placeholder="Förnamn" />
                <label for="swimmerName">Efternamn:</label>
                <input id="swimmerName" type="text" ng-model="swimmer.lastName" placeholder="Efternamn" />
            </fieldset>
            <fieldset class="span6">
                <label for="swimmerDateOfBirth">Född år:</label>
                <input id="swimmerDateOfBirth" type="text" ng-model="swimmer.yearOfBirth" placeholder="Född år" />
                <label for="swimmerClub">Klubb:</label>
                <input id="swimmerClub" type="text" ng-model="swimmer.club" placeholder="Klubb" />
                <br>
            </fieldset>
            <fieldset class="span6">
                <button type="submit" style="margin-top:20px" ng-disabled="newSwimmerForm.$invalid" ng-click="searchSwimmer(swimmer, newSwimmerForm)" class="btn btn-primary">Sök</button>
                <button type="button" style="margin-top:20px" ng-click="cancelSwimmer()" class="btn btn-default">Avbryt</button>
            </fieldset>

            <!--
                        <img ng-src="{{swimmer.imageUrl}}" />
                        <br />
            -->
        </form>

        <!--Show search result-->
        <div ng-cloak ng-repeat="swimmer in searchResult | orderBy:id | limitTo:10">
            <div class="well span9">
                <h4 class="well-title">{{swimmer.firstName}} {{swimmer.lastName}}</h4>
                <span>Klubb: {{swimmer.club}}</span><br />
                <span>Född år: {{swimmer.yearOfBirth}}</span><br />
                <span>Id: {{swimmer.id}}</span>
                <div class="col-sm-7">
                    <button type="submit" class="btn btn-default" ng-click="save(swimmer)"> Spara </button>
                </div>
            </div>
        </div>

        <!--Show alert if nothing found-->
        <div ng-show="noHitsReturned">
            <div class="alert alert-warning">
                Inga träffar, försök bredda sökvillkoren
            </div>
        </div>

        <!--Show error if server error-->
        <div ng-show="errorMessage.lenght > 0">
            <div class="alert alert-warning">
                {{errorMessage}}
            </div>
        </div>

    </div>
</div>