<!-- about.html -->
    <div class="jumbotron text-center">
    <div ng-cloak class="container">
      <div style="padding-left:20px; padding-right:20px">
        <!-- If swimmer has imageUrl, not implmented <img ng-src="{{swimmer.imageUrl}}" alt="{{swimmer.name}}">-->
        <div class="row">
          <div class="span11">
            <h1>{{swimmer.firstName}} {{swimmer.lastName}} </h1>
          </div>
        </div>
      
        <div class="row">
          <div class="span3">
            <div><strong>Id:</strong> {{swimmer.id}}</div>
            <div><strong>Born:</strong> {{swimmer.yearOfBirth}}</div>
            <div><strong>Club:</strong> {{swimmer.club}}</div>
          </div>
        </div>
        
        <hr>
        
        <h3>Personal bests</h3>
        Show:
        <select name="" id="" ng-model="discipline" class="input-medium">
          <option value="" selected>All</option>
          <option value="Breaststroke" >Breaststroke</option>
          <option value="Freestyle" >Freestyle</option>
          <option value="Butterfly" >Butterfly</option>
          <option value="Backstroke" >Backstroke</option>
        </select>
          <!--orderBy:pbSortOrder-->
          <div ng-repeat="personalBest in swimmer.personalBests | limitTo:10 | filter:discipline" >
            <div class="row personalBest">
                <div class="panel panel-default" ng-click="showSwimmerDetails(swimmer)">
                  <div class="panel-heading">
                    <h4 class="well-title">{{personalBest.event.distance.distance}} {{personalBest.event.discipline.discipline}}</h4>
                  </div>
                  <div class="panel-body">
                    <span>Time: {{personalBest.time}}</span><br />
                    <span>Competition: {{personalBest.competition}}</span><br />
                    <span>Date: {{personalBest.date}}</span>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>

