<!-- home.html -->
<div class="jumbotron text-center">
    <h1>Swimmers</h1>
    <div ng-cloak style="padding-left:20px; padding-right:20px">
        <container ng-repeat="swimmer in swimmers">

			<div class="panel panel-default" ng-click="showSwimmerDetails(swimmer)">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{swimmer.name}}</h3>
			  </div>
			  <div class="panel-body">
                	<span>Club: {{swimmer.club}}</span><br />
                	<span>Year of birth: {{swimmer.dateOfBirth}}</span><br />
                	<span>Date: {{swimmer.id}}</span>                	
			  </div>
			</div>


        <!--	<div class="row swimmer" ng-click="showSwimmerDetails(swimmer)">
            	<div class="well span9">
                	<h4 class="well-title">{{swimmer.name}}</h4>
                	<span>Club: {{swimmer.club}}</span><br />
                	<span>Year of birth: {{swimmer.dateOfBirth}}</span><br />
                	<span>Date: {{swimmer.id}}</span>
              	</div>
            </div>-->
         </container>
<!--Show alert if nothing found-->
        <div ng-show="errorText.length > 0">
         	<div class="alert alert-error">
            	{{errorText}}
          	</div>
        </div>
  	</div>
</div>