<!-- about.html -->
    <div class="jumbotron text-center">
    <div ng-cloak class="container">
      <div style="padding-left:20px; padding-right:20px">
        <!-- If swimmer has imageUrl, not implmented <img ng-src="{{swimmer.imageUrl}}" alt="{{swimmer.name}}">-->
        <div class="row">
          <div class="span11">
            <h1>{{swimmer.firstName}} {{swimmer.lastName}} </h1>
          </div>
        </div>
      
        <div class="row">
          <div class="span3">
            <div><strong>Id:</strong> {{swimmer.id}}</div>
            <div><strong>Född år:</strong> {{swimmer.yearOfBirth}}</div>
            <div><strong>Klubb:</strong> {{swimmer.club}}</div>
          </div>
        </div>
        
        <hr>
        
        <h3>Personbästa</h3>
        Visa simsätt:
        <select name="" id="" ng-model="discipline" class="input-medium">
          <option value="" selected>Alla</option>
          <option value="Bröstsim" >Bröstsim</option>
          <option value="Frisim" >Frisim</option>
          <option value="Fjärilssim" >Fjärilssim</option>
          <option value="Ryggsim" >Ryggsim</option>
        </select>
          <!--orderBy:pbSortOrder-->
          <div ng-repeat="personalBest in swimmer.personalBests | limitTo:20 | filter:discipline" >
            <div class="row personalBest">
                <div class="panel panel-default" ng-click="showSwimmerDetails(swimmer)">
                  <div class="panel-heading">
                    <h4 class="well-title">{{personalBest.event.distance.distance}} {{personalBest.event.discipline.discipline}}</h4>
                  </div>
                  <div class="panel-body">
                    <span>Tid: {{personalBest.time}}</span><br />
                    <span>Tävling: {{personalBest.competition}}</span><br />
                    <span>Datum: {{ personalBest.date | date:'MM/dd/yyyy'}}</span>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>

